.wrapper-content {
  width: 100%;
  height: 500px;
  background-image:radial-gradient(circle, rgba(10,14,39,0.7) 60%, rgba(10,14,39,1) 100%),
  url('images/gamig-setup.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
